name: Java CI with Maven Build and Test

on:
  push:
    branches: [ "sumdu.edu.ua" ]
  pull_request:
    branches: [ "sumdu.edu.ua" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn -B package --file pom.xml
